body {
  background-color: #f7c505;
  color: #3a57a1;
  font-family: "Trebuchet MS", "Lucida Sans Unicode";
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.wrapper-left {
  flex: 60;
}

.wrapper-right {
  flex: 40;
}
h1 {
  font-size: 3rem;
  margin: 10px;
  text-align: center;
}

h2,
h3 {
  margin: 10px;
  text-align: center;
}

#filter-container {
  background-color: #f6da6c;
  padding: 10px;
}

#filter-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

#pokemon-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.new-pokemon-form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.saved-pokemons-wrapper {
  /* border: solid 2px #3a57a1; */
}

#saved-pokemon-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  background-color: #f6da6c;
}

.btn {
  background-color: black;
  color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  min-width: 70px;
  padding: 5px;
}

.filter-btn {
  background-color: #3a57a1;
}

.active {
  background-color: black;
}
